In [9]:
#To print

print("Hello world!")

Hello world!

In [62]:
#for comment use # like below

# this is a single line comment.Always comment your code

In [5]:
For comment in multiple lines use """ 

"""
This is a multi-line comment.
You can use triple quotes to span
the comment across multiple lines.
"""

# Another way to do a multi-line comment
# is by using a series of single-line comments.
# Each line starts with a `#`

'\nThis is a multi-line comment.\nYou can use triple quotes to span\nthe comment across multiple lines.\n'

In [31]:
#print values assigned in variable

x=2
X=5
print('x=',x)
print('X=',X)

x= 2
X= 5

In [39]:
x=2
X=5
X=3 #prints the value of X as 3 not 5, because program flows from down to upward
print('x=',x)
print('X=',X)

x= 2
X= 3

In [43]:
#print string assigned invariable


language='python'
name="John"
print('language:',language)
print("name:",name)

language: python
name: John

In [45]:
#Rules to create variables:
#.can use digit,letter and underscore in any sequence except digit can't be a first letter


7name="Harry" #we cannot create variable as  digit first

SyntaxError: invalid decimal literal (1337952949.py, line 1)

In [47]:
_age=25
name7="sarah" #this is correct

In [38]:
x=range(5)
print(x)

range(0, 5)

In [48]:
#there are several data types in python like int,float,string,dict,tuple,boolen,list etc
#Example of dict type below which comes in pair.


My_Info={"My name is":"bijay","and my age is":32} #Dict type data type
print(My_Info)

{'My name is': 'bijay', 'and my age is': 32}

In [60]:
name="bijay" #string type
age=32 #integer type
height=5.11 #float
Fruits=["Apple","orange","banana"] #list
colors=("red","yellow","blue") #tuple
My_Info={"name":"bijay","age":32} #dict
is_ok=True #boolen

#now we can find the types of variable using "type" function
print("Type of name variable",type(name))
print("Type of age variable",type(age))
print("Type of height variable",type(height))
print("Type of fruits variable",type(Fruits))
print("Type of colors variable",type(colors))
print("Type of My info variable",type(My_Info))
print("Type of is ok variable",type(is_ok))

Type of name variable <class 'str'>
Type of age variable <class 'int'>
Type of height variable <class 'float'>
Type of fruits variable <class 'list'>
Type of colors variable <class 'tuple'>
Type of My info variable <class 'dict'>
Type of is ok variable <class 'bool'>

In [72]:
#Topic:type casting.....can create variable or convert into another variable.

int_var=int(2.2) #int_var will contain the value of only 2, discarding decimal numbers
str_var=str(45) #it will contain 45 as a string not as a number
float_var=float("3.14") #it will contain the value of 3.14 as a floating value

#Example:
int_var_auto= int(4.5)
str_var_auto="hello"
float_var_auto=3.14

print("Type of int_var_auto:",type(int_var_auto))
print("Type of str_var_auto:",type(str_var_auto))
print("Type of float_var_auto:",type(float_var_auto))

Type of int_var_auto: <class 'int'>
Type of str_var_auto: <class 'str'>
Type of float_var_auto: <class 'float'>